<h1>Articles#new</h1>
<p>Welcome to the blog. Enjoy your surf!</p>
<%= flash[:notice] %>
<%= flash[:error] %>
<%= form_for @article, :html => {:multipart => true } do |f| %>
  <%= f.file_field :article_picture %>
	title: <%= f.text_field :title %>
	description: <%= f.text_field :description %>
	rating: <%= f.number_field :rating %>
	user_id: <%= f.text_field :user_id %>
	headline: <%= f.check_box :headline, :value => true %>
	<%=f.submit :create%>

	<%=link_to "Back to Index", articles_path , :class => "new-article"%>
	<%=link_to "Back to Index", articles_path , :class => "new-article"%>




	
<% end %>