<h1>Countries#new</h1>
<p>Here is where your country details is required and saved</p>
<%= flash[:notice] %>
<%= flash[:error] %>
<%= form_for @country do |f| %>
	code: <%= f.text_field :code %>
	name: <%= f.text_field :name %>
	<%=f.submit :edit%>

	<%=link_to "Add New Country", new_country_path , :class => "new-country"%>
	
	
<% end %>