<h1>Countries#index</h1>
<p>Here is where your country details is required and saved</p>
<%= flash[:notice]%>
<%= flash[:error]%>


<%=link_to "Add New Country", new_country_path %>


<table border="1">
	<tr>
		<td> Code </td>
		<td> Name </td>
	</tr>
	<% @countries.each do |country|%>
		<tr>
		<td><%= country.code %></td>
		<td><%= link_to country.name, country_path(country.id) %></td>
		<td><%= link_to "edit", edit_country_path(country.id) %></td>
		<td><%= link_to "delete", country_path(country.id), :confirm => "Are you sure to delete this country?", :method => "delete"%></td>
		</tr>
<% end %>
</table>