<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<%= flash[:notice]%>
<%= flash[:error]%>

<%=link_to "new", new_product_path %>

<table border="1">
	<tr>
		<td> Name </td>
		<td> Price </td>
		<td> Stock </td>
		<td> Description </td>
	</tr>
	<% @products.each do |product|%>
	<tr>
		<td><%= link_to product.name, product_path(product.id) %></td>
		<td><%= product.price %></td>
		<td><%= product.stock %></td>
		<td><%= product.description %></td>
		<td><%= link_to "edit", edit_product_path(product.id) %></td>
		<td><%= link_to "delete", product_path(product.id), :confirm => "Are you sure to delete this data?", :method => "delete"%></td>
	</tr>
<% end %>
</table>