<h1>Products#show</h1>
<p>Here is where the product you chose is shown/p>

<%= @product.name %>
<%= @product.price %>
<%= @product.stock %>
<%= @product.description %>

<%= link_to "Back to Index", products_path %>