<!DOCTYPE html>
<html>
<head>
  <title>Training Baru</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="row">
</header>
  <nav class="top-bar row" data-topbar>
  <ul class="title-area">
   
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->

  <ul class="right">
    <li>
    <%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %>
    <li>

    
      <li class="has-dropdown">
        <a href="#">Right Button with Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">

         <li>   <%= link_to "Articles", articles_path %> <li>
         <li>  <%= link_to "Products", products_path %> <li>
         <li> <%= link_to "Countries", countries_path %> <li>
    </ul>

          </section>
    </nav>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<div class="row">
<%= yield %>
</div>

<script>
  $(document).foundation();
</script>


</body>


<footer class="row"> 
      <div class="small-4 columns">Footer 1
      <ul class="side-nav"
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      </ul>
      </div>


      <div class="small-4 columns">Footer 2
      <ul class="side-nav">
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      </ul>
      </div>

      <div class="small-4 columns">Footer 3
      <ul class="side-nav">
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      </ul>
      </div>
</footer>


  
</html>
